nav {
    padding: 1em;
    background-color: rgb(39, 39, 39);
}

nav button {
    margin: 0 0 0 1em;
    padding: .5em 1em .5em 1em;

    width: 11em;
    border-radius: 50px;
}
nav button:hover {
    transition-duration: .4s;
    box-shadow: 0 0 1em aliceblue;
}

.App {
    background-color: rgb(52, 69, 83);
    color: rgb(206, 206, 206);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    padding: 0 0 2em 0;
    margin: 0;
}
.logo {
    font-size: 20px;
    text-shadow: 0px 0px 15px black;
}
